.App {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/Sky-Stars-Pattern.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60%;
  height: 500px;
  color: black;
}
